body{
    background-color: rgb(60, 60, 60);
    color:white
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

.screen {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 5px;
  }
  
  .header {
    position: relative;
    /* border: 1px solid black; */
    margin: 5px;
  }
  
  .game-screen {
    /* border: 1px solid black; */
    margin: 5px;
  }
  
  .footer {
    /* border: 1px solid black; */
    margin: 5px;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    margin: 5px;
  }
  
  .tictactoe-board {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: -1;
    background-color: #12bdac;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    gap: 10px;
  }
  
  .grid-item {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin: 5px;
  }
  .player1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #12bdac;
    /* border: 1px solid black; */
    margin: 5px;
  }
  .player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #12bdac;
    /* border: 1px solid black; */
    margin: 5px;
  }

header{
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(50, 50, 50);
    text-align: center;

}

