
.container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 50px;
    background-color: #12BDAC;
  }

  .line {
    background-color: #0BA192;
    position: absolute;
  }

  .horizontal {
    width: 0;
    height: 10px;
    top: 33%;
    animation: drawLineHorizontal 5s forwards;
  }

  .horizontal.bottom {
    top: 66%;
  }

  .vertical {
    width: 10px;
    height: 0;
    left: 33%;
    animation: drawLineVertical 5s forwards;
  }

  .vertical.right {
    left: 66%;
  }

  @keyframes drawLineHorizontal {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes drawLineVertical {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }